input[type=button] {
    background-color: white;
}

.modo_claro {
    background-color:white !important;
    color:black !important;
}

.modo_escuro {
    background-color: black !important;
    color: white !important;
}

link_botao.modo_claro {
    border-color: black;
}

link_botao.modo_escuro {
    border-color: white;
}

input[type=button].modo_claro {
    border-color: black;
}

input[type=button].modo_escuro {
    border-color: white;
}

button.modo_claro {
    border-color: black;
}

button.modo_escuro {
    border-color: white;
}